# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`

# Ignore configuration files that may contain sensitive information
/Capacitacion/web/sites/*/*settings*.php
/Capacitacion/web/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
/Capacitacion/web/sites/*/files
/Capacitacion/web/sites/*/public
/Capacitacion/web/sites/*/private
/Capacitacion/web/sites/*/files-public
/Capacitacion/web/sites/*/files-private

# Ignore paths that may contain temporary files
/Capacitacion/web/sites/*/translations
/Capacitacion/web/sites/*/tmp
/Capacitacion/web/sites/*/cache

# Ignore testing related files
/Capacitacion/web/sites/simpletest

# Ignore .idea
/Capacitacion/.idea

# Ignore drupal core (if not versioning drupal sources)
/core
/Capacitacion/web/core/*
/Capacitacion/web/sites/default/*
/Capacitacion/web/modules/contrib
/Capacitacion/web/profiles/README.txt
/Capacitacion/web/sites/README.txt
/Capacitacion/web/sites/example.sites.php
/Capacitacion/web/example.settings.local.php
/Capacitacion/web/sites/development.services.yml
/Capacitacion/web/themes/*
/vendor/*
/Capacitacion/vendor/*
/Capacitacion/web/.csslintrc
/Capacitacion/.editorconfig
/Capacitacion/web/.eslintignore
/Capacitacion/web/.eslintrc.json
/.gitattributes
/Capacitacion/web/.htaccess
/Capacitacion/web/autoload.php
/composer.json
/composer.lock
/Capacitacion/web/example.gitignore
/Capacitacion/web/index.php
/LICENSE.txt
/Capacitacion/web/README.txt
/Capacitacion/web/robots.txt
/Capacitacion/web/update.php
/Capacitacion/web/web.config
